{
  "extends": [
    "plugin:prettier/recommended",
    "plugin:react-native/all"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "prettier",
    "react",
    "react-native"
  ],
  "root": true,
  "rules": {
    "react/jsx-sort-props": [2, {
      "ignoreCase": true
    }],
    "react-native/no-color-literals": 0,
    "react-native/no-inline-styles": 0
  }
}
