{
  "extends": "@react-native-community",
  "root": true,
  "rules": {
    "react/jsx-sort-props": [2, {
      "ignoreCase": true
    }],
    "react-native/no-color-literals": 0,
    "react-native/no-inline-styles": 0
  }
}
