{
  "extends": [
    "plugin:prettier/recommended",
    "plugin:react-native/all"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "prettier",
    "react",
    "react-native"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all"
      }
    ],
    "react-native/no-color-literals": 0,
    "react-native/no-inline-styles": 0
  }
}